@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


/*---------------------------- Main Colors----------------------------*/
body {
    background-color: #2a2d34;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
}

body.noscroll {
    overflow: hidden;
}

/*--------------------------------Nav Bar------------------------*/
.navbar {
    position: relative;
    background-color: #729ea1;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    color: #2a2d34;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 0.5px;

}

.navbar-brand:hover {
    color: #d64045;
}

.nav-item a {
    color: #2a2d34;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 0.5px;
}

.nav-item a:hover {
    color: #D64045;
}

#navbar-menu ul {
    float: right;
    margin-right: 10px;
}

.navbar-toggler {
    color: #2a2d34;
}

/*------------------------------------ Carousel------------------------*/

#Stadium-carousel {
    position: relative;
    display: block;
    height: 450px;
}

.carousel-inner {
    height: 450px;
}

.carousel-item {
    height: 100%;
}

.carousel-header {
    font-family: 'Cabin', sans-serif;
    color: #fcfafa;
    text-transform: uppercase;
    font-size: 50px;

}

.carousel-content {
    font-family: 'Cabin', sans-serif;
    color: #fcfafa;
    text-transform: uppercase;
    font-size: 30px;
}

.carousel-image {
    width: 100%;
    height: 100%;
}

.carousel-button {
    width: 200px;
    height: 50px;
    line-height: inherit;
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    background-color: #fcfafa;
    color: #2a2d34;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #fcfafa;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.carousel-button span {
    position: relative;
    z-index: 2;
}

.carousel-button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #d64045;
    transition: all .35s;
}

.carousel-button:hover {
    color: #fff;
}

.carousel-button:hover:after {
    width: 100%;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators::after,
::before {
    box-sizing: border-box;
}

/*----------------------------------About us and Search bar------------------------*/
#about-us {
    width: 100%;
    height: 200px;
}

.about-us-wrapper {
    position: absolute;
    width: 75%;
    height: 190px;
    border-radius: 5px 45px 45px 5px;
    border: 1px solid #2a2d34;
    margin: 5px;
    background-color: #729ea1;
}

.about-us-text {
    font-family: 'Cabin', sans-serif;
    color: #2a2d34;
    font-size: 20px;
    position: relative;
    width: 90%;
    top: 15px;
    left: 15px;
}

.search-wrapper {
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

#stadium-search {
    width: 30%;
    border: 2px solid #2a2d34;
    padding: 5px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: black;
    position: relative;
    display: flex;
    top: 50%;
    left: 40%;
}

/*---------------------------Stadium Cards---------------------*/

#stadium-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.card {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fcfafa;
    border: 0.5px solid #fcfafa;
    border-radius: 5px;
}

.card-body {
    background-color: #fcfafa;
    padding: 1rem 1rem;
}

.card-title {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Cabin', sans-serif;
    color: #2a2d34;
    font-size: 20px;
    word-wrap: break-word;
}

.card-text {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Cabin', sans-serif;
    color: #2a2d34;
    font-size: 18px;
    word-wrap: break-word;
}

.card-img {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 200px;
}

.stadium-button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: #fcfafa;
    background-color: #d64045;
    border-color: #d64045;
}

.stadium-button:hover {
    color: #fcfafa;
    background-color: #ffb140;
    border-color: #ffb140;
}

.stadium-button:active {
    background-color: #d64045;
    color: #fcfafa;
    border-color: #D64045;
    box-shadow: #fcfafa;
}

/*-----------------------Modal------------------------------------*/

.stadium-modal.active {
    display: block;
}

.stadium-modal-box {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
}

.stadium-modal-box .modal-bg-shadow {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.stadium-modal-box .modal-box-wrap {
    width: 550px;
    height: 250px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.stadium-modal-box .modal-box-wrap .modal-close {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    background: #363d4e;
    border-radius: 50%;
    cursor: pointer;
}

.stadium-modal-box .modal-box-wrap .modal-close:before,
.stadium-modal-box .modal-box-wrap .modal-close:after {
    content: "";
    position: absolute;
    top: 25px;
    left: 13px;
    width: 25px;
    height: 2px;
    background: #fff;
}

.stadium-modal-box .modal-box-wrap .modal-close:before {
    transform: rotate(45deg);
}

.stadium-modal-box .modal-box-wrap .modal-close:after {
    transform: rotate(130deg);
}

.stadium-modal-box .modal-box-wrap .modal-header {
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    height: 60px;
    font-size: 22px;
}


.stadium-modal-box .modal-box-wrap .modal-body {
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    height: calc(250px - 120px);
    font-size: 14px;
    line-height: 21px;
}

.stadium-modal-box .modal-box-wrap .modal-footer {
    padding: 20px;
    height: 60px;
}

.modal-footer .modal-btn-grp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.modal-footer .modal-btn-grp .btn {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.modal-footer .modal-btn-grp .btn.btn-confirm {
    margin-left: 10px;
    background: #363d4e;
    color: #fff;
}

.modal-footer .modal-btn-grp .btn.btn-cancel {
    border: 1px solid #363d4e;
    color: #363d4e;
}

.modal-footer .modal-btn-grp .btn.btn-cancel:hover {
    background: #363d4e;
    color: #fff;
}

.modal-footer .modal-btn-grp .btn:hover {
    background: #7b8d8f;
}

.stadium-modal-box.active {
    display: block;
}

/*----------------------------footer----------------------------*/

.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: 0 0;
    position: relative;
    z-index: 1;
}

.footer-top {
    text-align: center;
    color: #2a2d34;
    background-color: #fcfafa;
    padding: 10px;
    background-color: #729ea1;
}

.footer-socials a {
    color: #d64045;
    font-size: 30px;
    padding: 15px;
}

.footer-socials a:hover {
    color: #2a2d34;
}

.footer-bottom {
    padding-left: 0px;
    width: 100%;
    text-align: center;
    color: #d64045;
    background-color: #2a2d34;
}

.footer-bottom a {
    color: #cfdbd5;
}

.footer-bottom a:hover {
    color: #d64045;
    text-decoration: none;
}

#map {
    min-height: 360px;
}

/* contact page */

.contact-bg-image {
    background-color: #000000;
    height: 900px;
}

.wrap-contact100 {
    width: 500px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    padding: 62px 55px 65px;
    position: relative;
    left: 300px;
    top: 225px;
}

.contact100-form {
    width: 100%;
}

.contact100-form-title {
    display: block;
    font-size: 30px;
    color: #000000;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 30px;
}

.wrap-input100 {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    margin-bottom: 17px;
}

.input100 {
    display: block;
    width: 100%;
    background: 0 0;
    font-size: 15px;
    color: black;
    line-height: 1.2px;
}

.input.input100 {
    height: 62px;
    padding: 0 20px 0 23px;
}

.focus-input100-1 .focus-input100-2 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.validate-input {
    position: relative;
}

.contact100-form-checkbox {
    padding-top: 12px;
    padding-bottom: 28px;
}

.container-contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-top: 13px;
}

.textarea.input100 {
    min-height: 199px;
    padding: 19px 20px 0 23px;
}